{% extends 'html/base.html' %}
{% block title %}ChangePassword{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-6 mx-auto shadow-lg">
		<div class="card-body">
			<h3 class="bg-warning text-light text-center p-2 border rounded">ChangePassword</h3>
			<form method="post">
				{% csrf_token %}
				{% for j in f %}
				<div>{{j}}</div>
				{% endfor %}
				<div class="row">
					<div class="col">
						<a href="{% url 'pf' %}" class="btn btn-outline-secondary form-control">Back to Profile</a>
					</div>
					<div class="col">
						<input type="reset" vaule="Reset" class="btn btn-outline-danger form-control">
					</div>
					<div class="col">
						<input type="submit" value="ChangePassword" class="btn btn-outline-success form-control">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}