{% extends 'html/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="row">
		<div class="card col-md-4 mx-2 h-100">
			<div class="card-body">
				<h3>Image</h3>
				<img src="{{user.pcimg.url}}" width="100%">
				<h4 class="bg-dark text-light text-center border rounded p-2">Hi {{request.user.username}}</h4>
			</div>
		</div>
		<div class="card col-md mx-2">
			<div class="card-body">
				<h3>Profile Details</h3>
				<table class="table table-borderless">
					<tr>
						<td>Username</td>
						<td>{{request.user.username}}</td>
					</tr>
					<tr>
						<td>First Name</td>
						<td>{{request.user.first_name}}</td>
					</tr>
					<tr>
						<td>Last Name</td>
						<td>{{request.user.last_name}}</td>
					</tr>
					<tr>
						<td>Emailid</td>
						<td>{{request.user.email}}</td>
					</tr>
					<tr>
						<td>Date of Joining</td>
						<td>{{request.user.date_joined}}</td>
					</tr>
					<tr>
						<td>Last Login</td>
						<td>{{request.user.last_login}}</td>
					</tr>
				</table>
				<a href="{% url 'upf' %}" class="btn btn-outline-secondary my-2 btn-block">Update Profile</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}