{% extends 'html/base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-6 mx-auto shadow-lg">
		<div class="card-body">
			<h3>Update Profile</h3>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% for i in t %}
				<div>{{i}}</div>
				{% endfor %}
				<div class="row">
					<div class="col">
						<a href="{% url 'pf' %}" class="btn btn-outline-secondary form-control my-2">Back to Profile</a>
					</div>
					<div class="col">
						<input type="reset" value="Reset" class="btn btn-outline-danger form-control my-2">
					</div>
					<div class="col">
						<input type="submit" value="Update" class="btn btn-outline-success form-control my-2">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}