{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div class="container mt-4">
		<div class="row text-center text-light">
			<div class="col bg-success mx-2 p-3 border rounded">
				<h2> First Division</h2>
			</div>
		    <div class="col bg-info mx-2 p-3 border rounded">
		    	<h2>Second Devision</h2>
		    </div>
		    <div class="col bg-secondary mx-2 p-3 border rounded">
		    	<h2>Third Devision</h2>
		    </div>
		</div>
	<div class="row my-2 text-center">
		<div class="col bg-warning mx-2">
			<h3>Fourth Devision</h3>
			<div class="row">
				<div class="col mx-2">
					<h3>Fourth-A</h3>
				</div>
				<div class="col mx-2">
					<h3>Fourth-B</h3>
				</div>
			</div>
		</div>
		<div class="col bg-danger mx-2">
			<h3>Fifth Devision</h3>
		</div>
	</div>
	<div class="row my-2">
		<div class="card col-md bg-primary mx-2">
			<div class="card-body">
				<h3>registration form</h3>
				<form>
					<input type="text" name="" placeholder="enter user name" class="form-control my-2">
					<input type="text" name="" placeholder="enterpassword" class="form-control my-2">
					<input type="number" name="" placeholder="enter age" class="form-control col-sm-6 my-2">
					<select class="form-control col-sm-6 my-2">
						<option name="gender" value="male">male</options>
						<option  name="gender" value="female">female</option>
					</select>
					<input type="email" name="" placeholder="enter email" class="form-control my-2">
					<input type="submit" name="Register" class="btn btn-block btn-outline-success my-2" >
				</form>
			</div>
		</div>
	</div>


</body>
</html>