{% extends 'html/base.html' %}
{% block title %}Sub Courses List{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
	<div class="row mx-2">
		<div class="card col col-md-4 mx-2">
			<div class="card-body">
				<h3 class="bg-warning text-light text-center p-2 border rounded">Add SubCourses</h3>
				<form method="post">
					{% csrf_token %}
					{% for j in s %}
					<div>{{j}}</div>
					{% endfor %}
					<div class="row">
						<div class="col">
							<input type="reset" name="Reset" class="btn btn-outline-danger form-control">
						</div>
						<div class="col">
							<input type="submit" value="Add SubCourse" class="btn btn-outline-success form-control">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="card col col-md mx-2">
			<div class="card-body">
				<h3>Sub Courses List</h3>
			</div>			
		</div>
	</div>
</div>
{% endblock %}