{% extends 'html/base.html' %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-6 mx-auto shadow-lg">
		<div class="card-body">
			<h3 class="bg-secondary text-light text-center border rounded p-2">Registration</h3>
			<form method="post">
				{% csrf_token %}
				{% for j in d %}
					<div>{{j}}</div>
				{% endfor %}
				<div class="row">
				<div class="col">
					<a href="{% url 'hm' %}" class="btn btn-outline-primary form-control">Back</a>
				</div>
				<div class="col">
					<input type="reset" value="Reset" class="btn btn-outline-danger form-control">
				</div>
				<div class="col">
					<input type="submit" value="Register" class="btn btn-outline-success form-control">
				</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}